PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/smartresidence-cy?retryWrites=true&w=majority
ACCESS_TOKEN_SECRET=replace_me_access_secret
REFRESH_TOKEN_SECRET=replace_me_refresh_secret
CLIENT_URL=http://localhost:5173
NODE_ENV=development

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_smtp_login
SMTP_PASS=your_smtp_key
SMTP_FROM="SmartResidence CY <your_verified_sender@example.com>"
